.rails_admin_settings_inline_form
  :ruby
    _object ||= @object
    _abstract_model ||= @abstract_model
    _object_name ||= @object_name
    # @object = object
    # @abstract_model = RailsAdmin::AbstractModel.new(@object.class)
    # @object_name = @object.class.name

    section = RailsAdmin::Config::Sections::Edit.new(_abstract_model.config)

    def _dom_id(field, object_name)
      field.name ||
        [
          object_name.to_s.gsub(/\]\[|[^-a-zA-Z0-9:.]/, '_').sub(/_$/, ''),
          options[:index],
          field.method_name,
        ].reject(&:blank?).join('_')
    end


    case _object.type
    when "array"
      properties = _abstract_model.properties.detect { |p| :raw_array == p.name }
      ra_field = RailsAdmin::Config::Fields::Types.load(:string).new(section, :raw_array, properties)
    when "hash"
      properties = _abstract_model.properties.detect { |p| :raw_hash == p.name }
      ra_field = RailsAdmin::Config::Fields::Types.load(:string).new(section, :raw_hash, properties)
    when 'file', 'upload', 'image'
      properties = _abstract_model.properties.detect { |p| :file == p.name }
      ra_field = RailsAdmin::Config::Fields::Types.load(Settings.file_uploads_engine).new(section, :file, properties)
    else
      properties = _abstract_model.properties.detect { |p| :raw == p.name }
      ra_field = RailsAdmin::Config::Fields::Types.load(:string).new(section, :raw, properties)
    end
    ra_field.bindings = {
      view: self,
      object: _object,
      abstract_model: _abstract_model,
      model: _object_name.class
    }

  = rails_admin_form_for _object, url: edit_path(_abstract_model, _object.id), as: _abstract_model.param_key, html: { method: "put", multipart: true, class: "form-horizontal denser" } do |form|
    .form-group.control-group{class: "#{ra_field.type_css_class} #{ra_field.css_class} #{'error' if ra_field.errors.present?}", id: "#{_dom_id(ra_field, _object_name)}_field"}
      = render partial: "rails_admin/main/setting_value", locals: {field: ra_field, form: form, _object: _object}

    -# = render partial: 'rails_admin/main/submit_buttons'
    .form-group.form-actions
      .col-sm-offset-2.col-sm-10
        %input{type: :hidden, name: 'return_to', value: (params[:return_to].presence || request.path)}
        %button.btn.btn-primary{type: "submit", name: "_save", :'data-disable-with' => t("admin.form.save")}
          %i.icon-white.icon-ok
          = t("admin.form.save")
        -# %span.extra_buttons
          - if authorized? :new, @abstract_model
            %button.btn.btn-info{type: "submit", name: "_add_another", :'data-disable-with' => t("admin.form.save_and_add_another")}
              = t("admin.form.save_and_add_another")
          - if authorized? :edit, @abstract_model
            %button.btn.btn-info{type: "submit", name: "_add_edit", :'data-disable-with' => t("admin.form.save_and_edit")}
              = t("admin.form.save_and_edit")
          %button.btn.btn-default{type: "submit", name: "_continue", :'data-disable-with' => t("admin.form.cancel"), :formnovalidate => true}
            %i.icon-remove
            = t("admin.form.cancel")

  :ruby
    # @object = _object
    # @abstract_model = _abstract_model
    # @object_name = _object_name
